/* ---- button ---- */
* { box-sizing: border-box; }
.filterDiv {
    background-color: #2196F3;
    color: #ffffff;
    text-align: center;
    display: none;
  }
  
  .show {
    display: block;
  }
  
  .container {
    width: 100%;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }
  
  #showfilmM{display: none;} 
  
  .photo{width: 100%;}